<div class="gamegrid">
  <div (click)="selectTile(0,0)" class="{{tileClass00}}"  >Battlefield Earth</div>
  <div (click)="selectTile(0,1)" class="{{tileClass01}}">Howard the Duck</div>
  <div (click)="selectTile(0,2)" class="{{tileClass02}}">Batman and Robin</div>

  <div (click)="selectTile(1,0)" class="{{tileClass10}}">Catwoman</div>
  <div (click)="selectTile(1,1)" class="{{tileClass11}}">Jack and Jill</div>
  <div (click)="selectTile(1,2)" class="{{tileClass12}}">Cats</div>

  <div (click)="selectTile(2,0)" class="{{tileClass20}}">Wing Commander</div>
  <div (click)="selectTile(2,1)" class="{{tileClass21}}">Dudley Do-Right</div>
  <div (click)="selectTile(2,2)" class="{{tileClass22}}">Twilight</div>

</div>